@model TestMvcProject.Models.Manga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tittle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MangaStarts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MangaStarts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MangaEnds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MangaEnds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaptersCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaptersCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChaptersRealesed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChaptersRealesed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnimeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnimeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
