@model IEnumerable<Manga>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4">
    <div class="col-6">
        <h1>Manga</h1>
    </div>
    <div class="col-6 text-end mt-3">
        <a asp-controller="Manga" asp-action="Create" class="btn btn-primary "><i class="bi bi-plus-circle"></i>&nbsp Create manga</a>
    </div>
</div>
<hr />

@if (TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["success"]</strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["error"]</strong>
    </div>
}

<div class="row justify-content-md-center">
    @if (Model.Count() == 0)
    {
        <div class="mt-4">No manga</div>
    }
    @foreach (var manga in Model)
    {

        <div class="card  col-3 p-0 m-4">
            <a class="text-decoration-none text-white" asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                <h3 class="card-header">@(manga.Tittle)</h3>
                <div class="card-body">
                    @if (manga.TitleJapanese != null)// && manga.TitleJapanese != string.Empty)
                    {
                        <h5 class="card-title">@(manga.TitleJapanese)</h5>
                    }
                    else
                    {
                        <h5 class="card-title">Unknown</h5>
                    }
                    @if (manga.Score != null)
                    {
                        <h6 class="card-subtitle text-muted">Score @(manga.Score)</h6>
                    }
                    else
                    {
                        <h6 class="card-subtitle text-muted">Score unknown</h6>
                    }
                </div>
                <div class="card-body">
                    @if (manga.Images == null || manga.Images.Count == 0)
                    {
                        <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="data:image/png;base64,@(Convert.ToBase64String(manga.Images.Last().Data))" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                </div>
                <div class="card-body">
                    @if (manga.Description != null && manga.Description.Length > 150)
                    {
                        <p class="card-text">Description: @(manga.Description.Substring(0, 150) + "...")</p>
                    }
                    else if (manga.Description != null)// && manga.Description != string.Empty)
                    {
                        <p class="card-text">Description: @(manga.Description)</p>
                    }
                    else
                    {
                        <p class="card-text">Description: no information.</p>
                    }
                </div>
                <ul class="list-group list-group-flush">
                    @if (manga.Type != null) //&& manga.Type != string.Empty)
                    {
                        <li class="list-group-item">Type: @manga.Type</li>
                    }
                    else
                    {
                        <li class="list-group-item">Type: unknown</li>
                    }

                    @if (manga.Volumes != null)
                    {
                        <li class="list-group-item">Volumes: @manga.Volumes</li>
                    }
                    else
                    {
                        <li class="list-group-item">Volumes: unknown</li>
                    }
                    @if (manga.ChaptersCount != null)
                    {
                        <li class="list-group-item">Chapters: @manga.ChaptersCount</li>
                    }
                    else
                    {
                        <li class="list-group-item">Chapters: unknown</li>
                    }

                </ul>
                <div class="card-body">
                    <a asp-controller="Manga" asp-action="Edit" asp-route-id="@manga.Id" class="btn btn-secondary "><i class="bi bi-pencil-square"></i> &nbsp Edit</a>
                    <a asp-controller="Manga" asp-action="Delete" asp-route-id="@manga.Id" class="btn btn-secondary "><i class="bi bi-trash"></i> &nbsp Delete</a>
                </div>
                <div class="card-footer text-muted">
                    @if (manga.MangaStarts != null)
                    {
                        <p class="card-text">Year @((manga.MangaStarts?.ToString("yyyy")))</p>
                    }
                    else
                    {
                        <p class="card-text">Year unknown</p>
                    }
                </div>
            </a>
        </div>
    }

</div>
