@model IEnumerable<Manga>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4">
    <div class="col-6">
        <h1>Manga</h1>
    </div>
    @*<div class="col-6 text-end mt-3">
        <a asp-controller="Manga" asp-action="Create" class="btn btn-primary "><i class="bi bi-plus-circle"></i>&nbsp Create мanga</a>
    </div>*@
</div>
<hr />

@if (TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["success"]</strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["error"]</strong>
    </div>
}

<div class="row justify-content-md-center">
    @if (Model.Count() == 0)
    {
        <div class="mt-4">No мangas</div>
    }
    @foreach (var мanga in Model)
    {

        <div class="card  col-3 p-0 m-4">
            <a class="text-decoration-none text-white" asp-controller="Manga" asp-action="Details" asp-route-id="@мanga.Id">
                <h3 class="card-header">@(мanga.Tittle)</h3>
                <div class="card-body">
                    <h5 class="card-title">@(мanga.TitleJapanese)</h5>
                    <h6 class="card-subtitle text-muted">Score @(мanga.Score)</h6>
                    @*<h6 class="card-subtitle text-muted">Scored by @мanga.ScoredBy</h6>*@
                </div>
                <div class="card-body">
                    @if (мanga.Images == null || мanga.Images.Count == 0)
                    {
                        <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="data:image/png;base64,@(Convert.ToBase64String(мanga.Images.Last().Data))" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                </div>
                <div class="card-body">
                    @if (мanga.Description != null)
                    {
                        <p class="card-text">Description: @(мanga.Description.Substring(0, 150) + "...")</p>
                    }
                    else
                    {
                        <p class="card-text">Description: no information.</p>
                    }
                </div>
                <ul class="list-group list-group-flush">
                    @if (мanga.Type != null)
                    {
                        <li class="list-group-item">Type: @мanga.Type</li>
                    }
                    else
                    {
                        <li class="list-group-item">Type: unknown</li>
                    }

                    @if (мanga.Volumes != null)
                    {
                        <li class="list-group-item">Volumes: @мanga.Volumes</li>
                    }
                    else
                    {
                        <li class="list-group-item">Volumes: unknown</li>
                    }
                    @if (мanga.ChaptersCount != null)
                    {
                        <li class="list-group-item">Chapters: @мanga.ChaptersCount</li>
                    }
                    else
                    {
                        <li class="list-group-item">Chapters: unknown</li>
                    }
                </ul>
                <div class="card-body">
                    <a asp-controller="Manga" asp-action="Details" asp-route-id="@мanga.Id" class="btn btn-secondary "><i class="bi bi-eye"></i> &nbsp Details</a>
                    @*<a asp-controller="Manga" asp-action="Delete" asp-route-id="@мanga.Id" class="btn btn-secondary "><i class="bi bi-trash"></i> &nbsp Delete</a>*@
                </div>
                <div class="card-footer text-muted">
                    @*Added: @(DateTime.Now.Subtract(мanga.ItemCreation))*@
                    Year @((мanga.MangaStarts?.ToString("yyyy")))
                </div>
            </a>
        </div>
    }

</div>

