@using TestMvcProject.ViewHelperLib
@model PaginatedList<Manga>

@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4">
    <div class="col-6">
        <h1>Manga</h1>
    </div>
    <div class="col-6 text-end mt-3">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by @ViewData["CurrentSortView"]</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Score_desc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-numeric-down-alt"></i>&nbsp Score descading</a>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Score_asc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-numeric-up-alt"></i>&nbsp Score ascading</a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Rank_desc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-numeric-down-alt"></i>&nbsp Rank descading</a>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Rank_asc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-numeric-up-alt"></i>&nbsp Rank ascading</a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Popularity_desc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-numeric-down-alt"></i>&nbsp Popularity descading</a>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Popularity_asc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-numeric-up-alt"></i>&nbsp Popularity ascading</a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Name_desc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-alpha-down-alt"></i>&nbsp Name descading</a>

                <a class="dropdown-item" asp-controller="Manga" asp-action="Index"
                   asp-route-sortOrder="Name_asc"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"><i class="bi bi-sort-alpha-up-alt"></i>&nbsp Name ascading</a>
            </div>
        </div>
        <a asp-controller="Manga" asp-action="Create" class="btn btn-primary "><i class="bi bi-plus-circle"></i>&nbsp Create manga</a>
    </div>
</div>
<hr />

@if (TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["success"]</strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["error"]</strong>
    </div>
}

<div class="row justify-content-md-center">
    @if (Model.Count() == 0)
    {
        <div class="mt-4">No manga</div>
    }
    @foreach (var manga in Model)
    {

        <div class="card  col-3 p-0 m-4">
            <a class="text-decoration-none text-white" asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                <h3 class="card-header">@(manga.Tittle)</h3>
                <div class="card-body">
                    @if (manga.TitleJapanese != null)// && manga.TitleJapanese != string.Empty)
                    {
                        <h5 class="card-title">@(manga.TitleJapanese)</h5>
                    }
                    else
                    {
                        <h5 class="card-title">Unknown</h5>
                    }
                    @if (manga.Score != null)
                    {
                        <h6 class="card-subtitle text-muted">Score @(manga.Score)</h6>
                    }
                    else
                    {
                        <h6 class="card-subtitle text-muted">Score unknown</h6>
                    }
                </div>
                <div class="card-body">
                    @if (manga.Images == null || manga.Images.Count == 0)
                    {
                        <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="data:image/png;base64,@(Convert.ToBase64String(manga.Images[0].Data))" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                </div>
                <div class="card-body">
                    @if (manga.Description != null && manga.Description.Length > 150)
                    {
                        <p class="card-text">Description: @(manga.Description.Substring(0, 150) + "...")</p>
                    }
                    else if (manga.Description != null)// && manga.Description != string.Empty)
                    {
                        <p class="card-text">Description: @(manga.Description)</p>
                    }
                    else
                    {
                        <p class="card-text">Description: no information.</p>
                    }
                </div>
                <ul class="list-group list-group-flush">
                    @if (manga.Type != null) //&& manga.Type != string.Empty)
                    {
                        <li class="list-group-item">Type: @manga.Type</li>
                    }
                    else
                    {
                        <li class="list-group-item">Type: unknown</li>
                    }

                    @if (manga.Volumes != null)
                    {
                        <li class="list-group-item">Volumes: @manga.Volumes</li>
                    }
                    else
                    {
                        <li class="list-group-item">Volumes: unknown</li>
                    }
                    @if (manga.ChaptersCount != null)
                    {
                        <li class="list-group-item">Chapters: @manga.ChaptersCount</li>
                    }
                    else
                    {
                        <li class="list-group-item">Chapters: unknown</li>
                    }

                </ul>
                <div class="card-body">
                    <a asp-controller="Manga" asp-action="Edit" asp-route-id="@manga.Id" class="btn btn-secondary "><i class="bi bi-pencil-square"></i> &nbsp Edit</a>
                    <a asp-controller="Manga" asp-action="Delete" asp-route-id="@manga.Id" class="btn btn-secondary "><i class="bi bi-trash"></i> &nbsp Delete</a>
                </div>
                <div class="card-footer text-muted">
                    @if (manga.MangaStarts != null)
                    {
                        <p class="card-text">Year @((manga.MangaStarts?.ToString("yyyy")))</p>
                    }
                    else
                    {
                        <p class="card-text">Year unknown</p>
                    }
                </div>
            </a>
        </div>
    }
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                1
            </a>
        </li>
        @if (Model.PageIndex - 2 > 2)
        {
            <li class="page-item">
                <a class="page-link"
               class="btn btn-default" disabled>
                    ...
                </a>
            </li>
        }
        @for (int i = -2; i < 3; i++)
        {
            if (Model.HasPage(Model.PageIndex + i) && Model.PageIndex + i != 1 && Model.PageIndex + i != Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link"
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + i)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                        @(Model.PageIndex + i)
                    </a>
                </li>
            }
        }
        @if (Model.PageIndex + 2 - Model.TotalPages < 0)
        {
            <li class="page-item">
                <a class="page-link"
               class="btn btn-default" disabled>
                    ...
                </a>
            </li>
        }
        @if (Model.TotalPages > 1)
        {
            <li class="page-item">
                <a class="page-link "
               asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.TotalPages)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default">
                    @(Model.TotalPages)
                </a>
            </li>
        }
    </ul>
</nav>