@model Anime
@{
    ViewData["Title"] = "Details";
}

<div class="card mt-4">
    <div class="card-body">
        <h1 class="card-title">@Model.Tittle | @Model.TitleJapanese</h1>
        @*<h2 class="card-title">@Html.DisplayFor(model => model.TitleJapanese)</h2>*@
        <hr />
        <h6 class="card-subtitle mb-2 text-muted">@Model.Type</h6>
        @if (Model.Genres == null || Model.Genres.Count < 1)
        {
            <span class="badge bg-primary">No genres</span>
        }
        else
        {
            @foreach (var genre in Model.Genres)
            {
                <span class="badge bg-primary">@genre.Name</span>
            }
        }
        <div class="row mt-4">
            <div class="col-3">
                @if (ViewBag.Poster == null)
                {
                    <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                }
                else
                {
                    <img src="@ViewBag.Poster" class="img-thumbnail card-img mb-3" asp-append-version="true" />
                }
            </div>
            <div class="col-6">
                <div class="row">

                    @if (Model.Score != null)
                    {
                        <p>Score: @Model.Score</p>
                    }
                    else
                    {
                        <p>Score: unknown</p>
                    }

                    @if (Model.ScoredBy != null)
                    {
                        <p>Scored by: @Model.ScoredBy</p>
                    }
                    else
                    {
                        <p>Scored by: unknown</p>
                    }

                    @if (Model.Popularity != null)
                    {
                        <p>Popularity: @Model.Popularity</p>
                    }
                    else
                    {
                        <p>Popularity: unknown</p>
                    }

                    @if (Model.Rank != null)
                    {
                        <p>Rank: @Model.Rank</p>
                    }
                    else
                    {
                        <p>Rank: unknown</p>
                    }

                    @if (Model.Favorites != null)
                    {
                        <p>Favorites: @Model.Favorites</p>
                    }
                    else
                    {
                        <p>Favorites: unknown</p>
                    }

                    @if (Model.Volumes != null)
                    {
                        <p>Volumes: @Model.Volumes</p>
                    }
                    else
                    {
                        <p>Volumes: unknown</p>
                    }

                    @if (Model.SeriesCount != null)
                    {
                        <p>Episodes: @Model.SeriesCount</p>
                    }
                    else
                    {
                        <p>Episodes: unknown</p>
                    }

                    @if (Model.Duration != null)
                    {
                        <p>Duration: @Model.Duration</p>
                    }
                    else
                    {
                        <p>Duration: unknown</p>
                    }

                    @if (Model.AnimeStarts != null)
                    {
                        <p>Anime starts: @Model.AnimeStarts?.ToString("dd.MM.yyyy")</p>
                    }
                    else
                    {
                        <p>Anime starts: unknown</p>
                    }

                    @if (Model.AnimeEnds != null)
                    {
                        <p>Anime ends: @Model.AnimeEnds?.ToString("dd.MM.yyyy")</p>
                    }
                    else
                    {
                        <p>Anime ends: unknown</p>
                    }

                    @if (Model.Status != null)
                    {
                        <p>Status: @Model.Status</p>
                    }
                    else
                    {
                        <p>Status: unknown</p>
                    }
                </div>
            </div>
        </div>
        <h4 class="mt-4">Description</h4>
        <p class="card-text">@Model.Description</p>

        <div class="row mt-4">
            <div class="col-4">
                <div class="row">
                    <h4 class="card-title"> Related manga </h4>
                </div>
                <div class="row">
                    @if (Model.Manga == null || Model.Manga.Count < 1)
                    {
                        <p class="card-text">No manga</p>
                    }
                    else
                    {
                        @foreach (var manga in Model.Manga)
                        {
                            <div class="col-4">
                                <h6 class="card-title"> @manga.Tittle </h6>
                                <a class="text-decoration-none text-white" asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                                    @if (manga.Images == null || manga.Images.Count < 1)
                                    {
                                        <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="data:image/png;base64,@(Convert.ToBase64String(manga.Images.Last().Data))" class="img-thumbnail card-img" asp-append-version="true" />
                                    }
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <h4 class="card-title"> Authors </h4>
                </div>
                <div class="row">
                    @if (Model.Authors == null || Model.Authors.Count < 1)
                    {
                        <p class="card-text">No authors</p>
                    }
                    else
                    {
                        @foreach (var author in Model.Authors)
                        {
                            <div class="col-4">
                                <h6 class="card-title"> @author.FirstName </h6>
                                <a class="text-decoration-none text-white" asp-controller="Author" asp-action="Details" asp-route-id="@author.Id">
                                    @if (author.Images == null || author.Images.Count < 1)
                                    {
                                        <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                                    }
                                    else
                                    {
                                        <img src="data:image/png;base64,@(Convert.ToBase64String(author.Images.Last().Data))" class="img-thumbnail card-img mb-3" asp-append-version="true" />
                                    }
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

