@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}

<div class="row mt-4">
    <div class="col-6">
        <h1>Authors</h1>
    </div>
</div>
<hr />

@if (TempData["success"] != null)
{
    <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["success"]</strong>
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-dismissible alert-danger mt-4">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>@TempData["error"]</strong>
    </div>
}

<div class="row justify-content-md-center">
    @if (Model.Count() == 0)
    {
        <div class="mt-4">No animies</div>
    }
    @foreach (var author in Model)
    {
        <div class="card  col-3 p-0 m-4">
            <a class="text-decoration-none text-white" asp-controller="Author" asp-action="Details" asp-route-id="@author.Id">
                <h3 class="card-header">@author.FirstName @author.LastName</h3>
                @*<div class="card-body">

            @if (author.Score != null)
            {
            <h6 class="card-subtitle text-muted">Score @(author.Score)</h6>
            }
            else
            {
            <h6 class="card-subtitle text-muted">Score unknown</h6>
            }
            </div>*@
                <div class="card-body">
                    @if (author.Images == null || author.Images.Count == 0)
                    {
                        <img src="~/404.png" class="img-thumbnail card-img" asp-append-version="true" />
                    }
                    else
                    {
                        <img src="data:image/png;base64,@(Convert.ToBase64String(author.Images.Last().Data))" class="img-thumbnail card-img mb-3" asp-append-version="true" />
                    }
                </div>
                <div class="card-body">
                    @if (author.About != null && author.About.Length > 150)
                    {
                        <p class="card-text">About: @(author.About.Substring(0, 150) + "...")</p>
                    }
                    else if (author.About != null)// && anime.Type != string.Empty)
                    {
                        <p class="card-text">About: @(author.About)</p>
                    }
                    else
                    {
                        <p class="card-text">Description: no information.</p>
                    }
                </div>
                <ul class="list-group list-group-flush">
                    @if (author.MemberFavorites != null)// && anime.Type != string.Empty)
                    {
                        <li class="list-group-item">In favorites: @author.MemberFavorites</li>
                    }
                    else
                    {
                        <li class="list-group-item">In favorites: unknown</li>
                    }

                    @*@if (anime.Volumes != null)
                {
                <li class="list-group-item">Volumes: @anime.Volumes</li>
                }
                else
                {
                <li class="list-group-item">Volumes: unknown</li>
                }
                @if (anime.SeriesCount != null)
                {
                <li class="list-group-item">Episodes: @anime.SeriesCount</li>
                }
                else
                {
                <li class="list-group-item">Episodes: unknown</li>
                }*@

                </ul>
                <div class="card-body">
                    <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id" class="btn btn-secondary "><i class="bi bi-eye"></i> &nbsp Details</a>
                </div>
                <div class="card-footer text-muted">
                    @if (author.DateOfBirth != null)
                    {
                        <p class="card-text">Year @((author.DateOfBirth?.ToString("yyyy")))</p>
                    }
                    else
                    {
                        <p class="card-text">Year unknown</p>
                    }
                </div>
            </a>
        </div>
    }
</div>

